<h1>Wijzig patiëntgegevens</h1>
<p>Wijzig hieronder de patiëntgegevens:</p>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@patient) do |f| %>

        <%= f.label :first_name, "Voornaam" %>
        <%= f.text_field :first_name, class: 'form-control' %>

        <%= f.label :last_name, "Achternaam" %>
      	<%= f.text_field :last_name, class: 'form-control' %>

		<%= f.label :gender, "Geslacht" %>
      	<%= f.select(:gender, ["Man", "Vrouw"]) %>

      	<%= f.label :BSN, "BSN nummer" %>
      	<%= f.text_field :BSN, class: 'form-control' %>

      	<%= f.label :date_of_birth, "Geboortedatum" %>
      	<%= f.date_select :date_of_birth, start_year: Date.today.year-150, end_year: Date.today.year, class: 'form-control' %>

     	<%= f.label :address, "Straat en huisnummer" %>
      	<%= f.text_field :address, class: 'form-control' %>
      		
      	<%= f.label :postal_code, "Postcode" %>
      	<%= f.text_field :postal_code, class: 'form-control' %>
      		 
      	<%= f.label :place_of_residence, "Plaats" %>
      	<%= f.text_field :place_of_residence, class: 'form-control' %>

      	<%= f.label :phone_number, "Telefoonnummer" %>
      	<%= f.text_field :phone_number, class: 'form-control' %>

      	<%= f.label :email, "Email" %>
      	<%= f.email_field :email, class: 'form-control' %>

      	<%= f.label :insurance_company, "Verzekeringsmaatschappij" %>
     	<%= f.text_field :insurance_company, class: 'form-control' %>

      	<%= f.label :policy_number, "Polisnummer" %>
     	<%= f.text_field :policy_number, class: 'form-control' %>

      <%= f.submit "Sla wijzigingen op", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>